@media screen and (max-width: 800px) {
	#content {
		min-height: 150px;
	}
	.owl-item img {
		width: 100%;
	}
	.owl-carousel .owl-wrapper-outer {
		max-height: 350px;
	}
	.owl-carousel .owl-item {
		padding: 0px;
	}
	.prd-list {
		float: left;
		width: 50%;
		margin: 0px;
	}
	.prd-list figure {
		padding: 15px 10px;
		border: 1px solid #e2e2e2;
	}
	.prd-list figure:hover {
		box-shadow: none;
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
	}
	.prd-bestseller {
		margin-bottom: 0px;
	}
	.form-horizontal .control-label {
		text-align: left;
		font-weight: 700;
	}
	.footer-info {
		padding: 10px;
	}
	#footer .footer-quick-menu {
		padding: 1px 15px 15px;
	}
}

@media screen and (max-width: 480px) {
	.prd-list figure > figcaption {
		text-align: center;
	}
	.prd-list .v-cta-g {
		flex-direction: column;
	}
	.prd-list .v-cta-g .pricing {
		margin: 0px 0px 10px;
	}
	.article-suggest [display="flex"] {
		flex-direction: column;
	}
	.article-suggest [display="flex"] > [flex-col] {
		flex-basis: 100% !important;
		margin: 0px 0px 20px;
	}
}

@media screen and (max-width: 320px) {
	.price-info.btn-action {
		flex-direction: column;
		text-align: center;
		margin-bottom: 8px;
	}
	*[display='flex'] > *[flex] {
		padding: 0px;
		width: 100%;
	}
}
/* -------- Color global -------- */
.bg-grey-e3 {
	background-color: #e3e3e3;
}
.txt-red-c0392b {
	color: #c0392b;
}
/* ------------ Margin Padding global ---------- */
.mt-15 {
	margin-top: 15px;
}
.pt0 {
	padding-top: 0px;
}
.pl0 {
	padding-left: 0px;
}
.pr0 {
	padding-right: 0px;
}
.pb0 {
	padding-bottom: 0px;
}


.ls-none {
	list-style: none;
}
.breadcrumb {
	margin-bottom: 0px;
}
[display='flex'].rtl {
	flex-direction: row-reverse;
}

.post-info > * {
	margin-right: 10px;
}
.post-info > *:last-child {
	margin-right: 0px;
}
.owl-carousel .owl-controls {
	text-align: center;
}
.btn-primary {
	color: #fff;
    background-color: #428bca !important;
    border-color: #357ebd !important;
}
.btn-group .btn {
	margin: 0px 5px 5px;
}
#header {
	z-index: 1050;
}
#top-header {
	background-color: #f3f3f3;
}
#top-header > *{
	float: left;
	width: 50%;
	height: 46px;
}
#top-header .logo-brand > a {
	display: block;
	padding: 5px;
}
#top-header > .col-r {
	text-align: right;
	font-size: 24px;
	padding: 5px;
}
#top-header .col-r > * {
	padding: 0px 8px;
}
#mid-header {
	padding: 5px;
	background-color: #A56911;
}
#mid-header.affix {
	top: 0px;
}
#mid-header .main-menu {
	float: left;
	margin-right: 10px;
}
#mid-header .main-menu .dropdown > .btn {
	background: none;
	color: #fff;
	border: none;
}
#mid-header .main-menu .dropdown > .btn:focus {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none; 
}
#mid-header .main-menu .dropdown {
	position: static;
}
.uib-dropdown-open > .dropdown-menu {
	left: 0px !important;
	right: 0px !important;
	top: 90px !important;
	margin: 0px;
	background-color: #A56911;
	border: none;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}
.uib-dropdown-open > .dropdown-menu > li > a {
	color: #f3f3f3;
	padding: 8px 15px;
	border-bottom: 1px solid #b37c2a;
}
.uib-dropdown-open > .dropdown-menu > li > a:hover,
.uib-dropdown-open > .dropdown-menu > li > a:focus,
.uib-dropdown-open > .dropdown-menu > li > a:active,
.uib-dropdown-open > .dropdown-menu > li > a:focus:active {
	background: none;
}
#mid-header .form-group {
	margin: 0px;
}
.all-menu-cat > .list-group {
	margin: 0px;
}
.all-menu-cat .list-group-item {
	padding: 0px;
	background: none;
	border: none;
}

article > header {
	padding: 15px 0px;
}
article h1:before {
	top: 42%;
}
article .btn-group {
	margin-bottom: 15px;
}

article .body .prd-list .thumbnail {
	border: none;
	padding: 0px;
}
article > footer {
	margin-bottom: 15px;
}
.acount-list-control li > a {
	display: block;
	padding: 6px 0px;
}
.prd-list.odd:not(:first-child) {
	clear: left;
}
.prd-bestseller .prd-list .prd-code, 
.prd-bestseller .prd-list .sale-off {
	top: 17px;
}
.prd-list .v-cta-g {
	align-items: inherit;
}
.prd-list .v-cta-g .pricing {
	flex: 1;
}

.article-header {
	margin-bottom: 0px;
	text-align: center;
}

.article-detail {
	margin-top: 10px;
}
.article-detail .owl-carousel .owl-controls {
	margin-top: 10px;
}

.prd-suggest .prd-title {
	padding: 15px;
	background-color: rgb(0,54,94);
	color: #f3f3f3;
    margin: 0;
}
.order-info > .prd-title {
	text-transform: uppercase;
	font-weight: 700;
	margin: 0px 0px 15px;
}
article.cart-info .body {
	margin-bottom: 15px;
}
.container-fluid > .alert-success {
	margin: 15px 0px;
}
#sendOrder .btn-danger {
	margin: 5px;
}
#footer ul li > a {
	font-size: 15px;
}
#footer .social-list li > a {
	font-size: 2.1em;
}
#footer .all-menu-cat .list-group-item > a {
	padding: 8px 15px;
	border-bottom: 1px solid #225173;
}
#footer .all-menu-cat .list-group-item:last-child > a {
	border-bottom: none;
}
.license-info {
	margin: 18px 0px 3px;
}
.menu-extend {
	background-color: #dcdcdc;
}
.menu-extend > .list-group {
	margin: 0px;
}
.menu-extend > .list-group .list-group-item:first-child,
.menu-extend > .list-group .list-group-item:last-child {
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}
.footer-copyright {
	padding: 10px 0px;
}
.footer-copyright > p {
	margin: 0px;
	padding: 0px;
}