    /*
    Flaticon icon font: Flaticon
    Creation date: 22/06/2016 15:01
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-a-pair-of-baloons-of-hearts:before { content: "\f100"; }
.flaticon-add-to-favorite:before { content: "\f101"; }
.flaticon-amplifier:before { content: "\f102"; }
.flaticon-amplifier-1:before { content: "\f103"; }
.flaticon-arch-and-quiver:before { content: "\f104"; }
.flaticon-bad-pirate-face:before { content: "\f105"; }
.flaticon-ball-with-stars-and-ribbon:before { content: "\f106"; }
.flaticon-birthday-cake-with-candles:before { content: "\f107"; }
.flaticon-birthday-cake-with-one-candle:before { content: "\f108"; }
.flaticon-birthday-cake-with-three-candles:before { content: "\f109"; }
.flaticon-birthday-hat-with-dots-and-stars:before { content: "\f10a"; }
.flaticon-birthday-present:before { content: "\f10b"; }
.flaticon-boy-angel-head:before { content: "\f10c"; }
.flaticon-boy-with-headphones:before { content: "\f10d"; }
.flaticon-broken-heart:before { content: "\f10e"; }
.flaticon-burning-sausage-on-a-fork:before { content: "\f10f"; }
.flaticon-candy:before { content: "\f110"; }
.flaticon-celebration-cake:before { content: "\f111"; }
.flaticon-celebration-cake-1:before { content: "\f112"; }
.flaticon-celebration-garlands:before { content: "\f113"; }
.flaticon-celebration-ribbon-in-a-circle:before { content: "\f114"; }
.flaticon-cheers:before { content: "\f115"; }
.flaticon-chinese-food-box-with-chop-sticks:before { content: "\f116"; }
.flaticon-chocolate-donut:before { content: "\f117"; }
.flaticon-christmas-candy-sticks:before { content: "\f118"; }
.flaticon-christmas-sock:before { content: "\f119"; }
.flaticon-christmas-tree-with-star:before { content: "\f11a"; }
.flaticon-circular-glasses-and-mustache-costume:before { content: "\f11b"; }
.flaticon-clown-head:before { content: "\f11c"; }
.flaticon-cocktail-on-a-glass:before { content: "\f11d"; }
.flaticon-console-mixer:before { content: "\f11e"; }
.flaticon-couple-of-bells:before { content: "\f11f"; }
.flaticon-couple-of-glasses-in-a-brindis-for-love:before { content: "\f120"; }
.flaticon-couple-of-striped-balloons:before { content: "\f121"; }
.flaticon-covered-food-tray:before { content: "\f122"; }
.flaticon-daisy-bouquet:before { content: "\f123"; }
.flaticon-decorated-party-whistle:before { content: "\f124"; }
.flaticon-devil-head-with-horns:before { content: "\f125"; }
.flaticon-devil-heart-with-wings:before { content: "\f126"; }
.flaticon-diamond-ring:before { content: "\f127"; }
.flaticon-digital-photo-camera:before { content: "\f128"; }
.flaticon-disco-ball:before { content: "\f129"; }
.flaticon-dj-hand-motion:before { content: "\f12a"; }
.flaticon-drummer-set:before { content: "\f12b"; }
.flaticon-energy-logo:before { content: "\f12c"; }
.flaticon-envelope-with-wings:before { content: "\f12d"; }
.flaticon-firecrackers:before { content: "\f12e"; }
.flaticon-firework-rocket:before { content: "\f12f"; }
.flaticon-fireworks:before { content: "\f130"; }
.flaticon-five-birthday-cake-layers-with-candles:before { content: "\f131"; }
.flaticon-floating-balloons:before { content: "\f132"; }
.flaticon-flower-bouquet:before { content: "\f133"; }
.flaticon-flower-shaped-biscuits:before { content: "\f134"; }
.flaticon-french-fries-box:before { content: "\f135"; }
.flaticon-gingerbread:before { content: "\f136"; }
.flaticon-give-a-gift:before { content: "\f137"; }
.flaticon-giving-love:before { content: "\f138"; }
.flaticon-glass-and-bottle-of-wine:before { content: "\f139"; }
.flaticon-glasses-in-celebration-brindis:before { content: "\f13a"; }
.flaticon-hamburger-with-bacoon:before { content: "\f13b"; }
.flaticon-happy-snowman:before { content: "\f13c"; }
.flaticon-heart-and-wings-tattoo:before { content: "\f13d"; }
.flaticon-heart-between-hands:before { content: "\f13e"; }
.flaticon-heart-cake-with-candle:before { content: "\f13f"; }
.flaticon-heart-in-a-screen:before { content: "\f140"; }
.flaticon-heart-in-flames:before { content: "\f141"; }
.flaticon-heart-pendant:before { content: "\f142"; }
.flaticon-heart-pierced-by-an-arrow:before { content: "\f143"; }
.flaticon-heart-shape-and-arrow-note:before { content: "\f144"; }
.flaticon-heart-shape-box-with-a-ribbon:before { content: "\f145"; }
.flaticon-heart-with-a-pin:before { content: "\f146"; }
.flaticon-heart-with-shine:before { content: "\f147"; }
.flaticon-hearts-balloons:before { content: "\f148"; }
.flaticon-hot-coffee-cup:before { content: "\f149"; }
.flaticon-hot-coffee-cup-with-hearts:before { content: "\f14a"; }
.flaticon-hot-dog-view:before { content: "\f14b"; }
.flaticon-hot-dog-with-mustard:before { content: "\f14c"; }
.flaticon-i-love-you:before { content: "\f14d"; }
.flaticon-ice-cream-cones:before { content: "\f14e"; }
.flaticon-ice-cream-cup:before { content: "\f14f"; }
.flaticon-identification-pass:before { content: "\f150"; }
.flaticon-jar-of-beer-with-lot-of-foam:before { content: "\f151"; }
.flaticon-july-fourth-balloons:before { content: "\f152"; }
.flaticon-king-crown:before { content: "\f153"; }
.flaticon-laptop-with-a-heart:before { content: "\f154"; }
.flaticon-lollipop:before { content: "\f155"; }
.flaticon-long-play-record-cover:before { content: "\f156"; }
.flaticon-looking-for-love:before { content: "\f157"; }
.flaticon-love-pointer:before { content: "\f158"; }
.flaticon-love-search:before { content: "\f159"; }
.flaticon-love-stamp:before { content: "\f15a"; }
.flaticon-lovely-chat-bubble:before { content: "\f15b"; }
.flaticon-magic-stick:before { content: "\f15c"; }
.flaticon-magician-boy:before { content: "\f15d"; }
.flaticon-male-and-female-symbol:before { content: "\f15e"; }
.flaticon-man-thinking-about-love:before { content: "\f15f"; }
.flaticon-man-thinking-about-love-1:before { content: "\f160"; }
.flaticon-man-with-afro-hair-style:before { content: "\f161"; }
.flaticon-meat-pie:before { content: "\f162"; }
.flaticon-mistletoe-leaves:before { content: "\f163"; }
.flaticon-muffin-bake:before { content: "\f164"; }
.flaticon-musical-notes-symbols:before { content: "\f165"; }
.flaticon-open-present-box:before { content: "\f166"; }
.flaticon-opening-a-champagne-bottle:before { content: "\f167"; }
.flaticon-party-decoration:before { content: "\f168"; }
.flaticon-piece-of-birthday-cake:before { content: "\f169"; }
.flaticon-piece-of-cake:before { content: "\f16a"; }
.flaticon-pirate-head:before { content: "\f16b"; }
.flaticon-pizza-slice-cut:before { content: "\f16c"; }
.flaticon-present-ribbon:before { content: "\f16d"; }
.flaticon-prince-crown:before { content: "\f16e"; }
.flaticon-pure-love:before { content: "\f16f"; }
.flaticon-romantic-email:before { content: "\f170"; }
.flaticon-romantic-muffin:before { content: "\f171"; }
.flaticon-rope-fence:before { content: "\f172"; }
.flaticon-sand-clock-with-hearts-shape:before { content: "\f173"; }
.flaticon-santa-claus-hat:before { content: "\f174"; }
.flaticon-sax:before { content: "\f175"; }
.flaticon-seven-piano-keys:before { content: "\f176"; }
.flaticon-soda-drink-with-a-lemon-slice:before { content: "\f177"; }
.flaticon-solid-star-shape-of-five-points:before { content: "\f178"; }
.flaticon-sound-amplification-tool:before { content: "\f179"; }
.flaticon-stars-balloons:before { content: "\f17a"; }
.flaticon-sweet-dessert:before { content: "\f17b"; }
.flaticon-t-shirt-with-heart:before { content: "\f17c"; }
.flaticon-teddy-bear-with-sleep-hat:before { content: "\f17d"; }
.flaticon-teenager-with-sun-glasses:before { content: "\f17e"; }
.flaticon-two-carnival-masks:before { content: "\f17f"; }
.flaticon-two-heart-shaped-balloons:before { content: "\f180"; }
.flaticon-two-hearts:before { content: "\f181"; }
.flaticon-two-roses:before { content: "\f182"; }
.flaticon-v-guitar:before { content: "\f183"; }
.flaticon-valentines-day-calendar-page:before { content: "\f184"; }
.flaticon-vintage-mic:before { content: "\f185"; }
.flaticon-vip-pass:before { content: "\f186"; }
.flaticon-volume-of-sound-bars:before { content: "\f187"; }
.flaticon-waiter-with-a-roast-chicken:before { content: "\f188"; }
.flaticon-wedding-invitation:before { content: "\f189"; }
.flaticon-wine-bottles-in-a-box:before { content: "\f18a"; }
.flaticon-winter-love:before { content: "\f18b"; }
    
    $font-Flaticon-a-pair-of-baloons-of-hearts: "\f100";
    $font-Flaticon-add-to-favorite: "\f101";
    $font-Flaticon-amplifier: "\f102";
    $font-Flaticon-amplifier-1: "\f103";
    $font-Flaticon-arch-and-quiver: "\f104";
    $font-Flaticon-bad-pirate-face: "\f105";
    $font-Flaticon-ball-with-stars-and-ribbon: "\f106";
    $font-Flaticon-birthday-cake-with-candles: "\f107";
    $font-Flaticon-birthday-cake-with-one-candle: "\f108";
    $font-Flaticon-birthday-cake-with-three-candles: "\f109";
    $font-Flaticon-birthday-hat-with-dots-and-stars: "\f10a";
    $font-Flaticon-birthday-present: "\f10b";
    $font-Flaticon-boy-angel-head: "\f10c";
    $font-Flaticon-boy-with-headphones: "\f10d";
    $font-Flaticon-broken-heart: "\f10e";
    $font-Flaticon-burning-sausage-on-a-fork: "\f10f";
    $font-Flaticon-candy: "\f110";
    $font-Flaticon-celebration-cake: "\f111";
    $font-Flaticon-celebration-cake-1: "\f112";
    $font-Flaticon-celebration-garlands: "\f113";
    $font-Flaticon-celebration-ribbon-in-a-circle: "\f114";
    $font-Flaticon-cheers: "\f115";
    $font-Flaticon-chinese-food-box-with-chop-sticks: "\f116";
    $font-Flaticon-chocolate-donut: "\f117";
    $font-Flaticon-christmas-candy-sticks: "\f118";
    $font-Flaticon-christmas-sock: "\f119";
    $font-Flaticon-christmas-tree-with-star: "\f11a";
    $font-Flaticon-circular-glasses-and-mustache-costume: "\f11b";
    $font-Flaticon-clown-head: "\f11c";
    $font-Flaticon-cocktail-on-a-glass: "\f11d";
    $font-Flaticon-console-mixer: "\f11e";
    $font-Flaticon-couple-of-bells: "\f11f";
    $font-Flaticon-couple-of-glasses-in-a-brindis-for-love: "\f120";
    $font-Flaticon-couple-of-striped-balloons: "\f121";
    $font-Flaticon-covered-food-tray: "\f122";
    $font-Flaticon-daisy-bouquet: "\f123";
    $font-Flaticon-decorated-party-whistle: "\f124";
    $font-Flaticon-devil-head-with-horns: "\f125";
    $font-Flaticon-devil-heart-with-wings: "\f126";
    $font-Flaticon-diamond-ring: "\f127";
    $font-Flaticon-digital-photo-camera: "\f128";
    $font-Flaticon-disco-ball: "\f129";
    $font-Flaticon-dj-hand-motion: "\f12a";
    $font-Flaticon-drummer-set: "\f12b";
    $font-Flaticon-energy-logo: "\f12c";
    $font-Flaticon-envelope-with-wings: "\f12d";
    $font-Flaticon-firecrackers: "\f12e";
    $font-Flaticon-firework-rocket: "\f12f";
    $font-Flaticon-fireworks: "\f130";
    $font-Flaticon-five-birthday-cake-layers-with-candles: "\f131";
    $font-Flaticon-floating-balloons: "\f132";
    $font-Flaticon-flower-bouquet: "\f133";
    $font-Flaticon-flower-shaped-biscuits: "\f134";
    $font-Flaticon-french-fries-box: "\f135";
    $font-Flaticon-gingerbread: "\f136";
    $font-Flaticon-give-a-gift: "\f137";
    $font-Flaticon-giving-love: "\f138";
    $font-Flaticon-glass-and-bottle-of-wine: "\f139";
    $font-Flaticon-glasses-in-celebration-brindis: "\f13a";
    $font-Flaticon-hamburger-with-bacoon: "\f13b";
    $font-Flaticon-happy-snowman: "\f13c";
    $font-Flaticon-heart-and-wings-tattoo: "\f13d";
    $font-Flaticon-heart-between-hands: "\f13e";
    $font-Flaticon-heart-cake-with-candle: "\f13f";
    $font-Flaticon-heart-in-a-screen: "\f140";
    $font-Flaticon-heart-in-flames: "\f141";
    $font-Flaticon-heart-pendant: "\f142";
    $font-Flaticon-heart-pierced-by-an-arrow: "\f143";
    $font-Flaticon-heart-shape-and-arrow-note: "\f144";
    $font-Flaticon-heart-shape-box-with-a-ribbon: "\f145";
    $font-Flaticon-heart-with-a-pin: "\f146";
    $font-Flaticon-heart-with-shine: "\f147";
    $font-Flaticon-hearts-balloons: "\f148";
    $font-Flaticon-hot-coffee-cup: "\f149";
    $font-Flaticon-hot-coffee-cup-with-hearts: "\f14a";
    $font-Flaticon-hot-dog-view: "\f14b";
    $font-Flaticon-hot-dog-with-mustard: "\f14c";
    $font-Flaticon-i-love-you: "\f14d";
    $font-Flaticon-ice-cream-cones: "\f14e";
    $font-Flaticon-ice-cream-cup: "\f14f";
    $font-Flaticon-identification-pass: "\f150";
    $font-Flaticon-jar-of-beer-with-lot-of-foam: "\f151";
    $font-Flaticon-july-fourth-balloons: "\f152";
    $font-Flaticon-king-crown: "\f153";
    $font-Flaticon-laptop-with-a-heart: "\f154";
    $font-Flaticon-lollipop: "\f155";
    $font-Flaticon-long-play-record-cover: "\f156";
    $font-Flaticon-looking-for-love: "\f157";
    $font-Flaticon-love-pointer: "\f158";
    $font-Flaticon-love-search: "\f159";
    $font-Flaticon-love-stamp: "\f15a";
    $font-Flaticon-lovely-chat-bubble: "\f15b";
    $font-Flaticon-magic-stick: "\f15c";
    $font-Flaticon-magician-boy: "\f15d";
    $font-Flaticon-male-and-female-symbol: "\f15e";
    $font-Flaticon-man-thinking-about-love: "\f15f";
    $font-Flaticon-man-thinking-about-love-1: "\f160";
    $font-Flaticon-man-with-afro-hair-style: "\f161";
    $font-Flaticon-meat-pie: "\f162";
    $font-Flaticon-mistletoe-leaves: "\f163";
    $font-Flaticon-muffin-bake: "\f164";
    $font-Flaticon-musical-notes-symbols: "\f165";
    $font-Flaticon-open-present-box: "\f166";
    $font-Flaticon-opening-a-champagne-bottle: "\f167";
    $font-Flaticon-party-decoration: "\f168";
    $font-Flaticon-piece-of-birthday-cake: "\f169";
    $font-Flaticon-piece-of-cake: "\f16a";
    $font-Flaticon-pirate-head: "\f16b";
    $font-Flaticon-pizza-slice-cut: "\f16c";
    $font-Flaticon-present-ribbon: "\f16d";
    $font-Flaticon-prince-crown: "\f16e";
    $font-Flaticon-pure-love: "\f16f";
    $font-Flaticon-romantic-email: "\f170";
    $font-Flaticon-romantic-muffin: "\f171";
    $font-Flaticon-rope-fence: "\f172";
    $font-Flaticon-sand-clock-with-hearts-shape: "\f173";
    $font-Flaticon-santa-claus-hat: "\f174";
    $font-Flaticon-sax: "\f175";
    $font-Flaticon-seven-piano-keys: "\f176";
    $font-Flaticon-soda-drink-with-a-lemon-slice: "\f177";
    $font-Flaticon-solid-star-shape-of-five-points: "\f178";
    $font-Flaticon-sound-amplification-tool: "\f179";
    $font-Flaticon-stars-balloons: "\f17a";
    $font-Flaticon-sweet-dessert: "\f17b";
    $font-Flaticon-t-shirt-with-heart: "\f17c";
    $font-Flaticon-teddy-bear-with-sleep-hat: "\f17d";
    $font-Flaticon-teenager-with-sun-glasses: "\f17e";
    $font-Flaticon-two-carnival-masks: "\f17f";
    $font-Flaticon-two-heart-shaped-balloons: "\f180";
    $font-Flaticon-two-hearts: "\f181";
    $font-Flaticon-two-roses: "\f182";
    $font-Flaticon-v-guitar: "\f183";
    $font-Flaticon-valentines-day-calendar-page: "\f184";
    $font-Flaticon-vintage-mic: "\f185";
    $font-Flaticon-vip-pass: "\f186";
    $font-Flaticon-volume-of-sound-bars: "\f187";
    $font-Flaticon-waiter-with-a-roast-chicken: "\f188";
    $font-Flaticon-wedding-invitation: "\f189";
    $font-Flaticon-wine-bottles-in-a-box: "\f18a";
    $font-Flaticon-winter-love: "\f18b";